body {
background-color: #2A3439;
color: #DCDCDC;
}
  .altclr {
      background-color: #456599;
    }
  .tirclr {
    background-color: #4f6069;
  }
  a:link {
    color: #ff992b;
    text-decoration: none;
  }
  a:visited {
    color: #a8651d;
    text-decoration: none;
  }
  a:hover {
    color: #d1ce32;
    text-decoration: none;
  }
  a:active {
    color: #b5b469;
    text-decoration: none;
  }
